{% extends "base.html" %}
{% block title %} Профиль {{ subject.username }} {% endblock %}
{% block content %}
<style type="text/css">
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width:500px;
}
.buttons {
  display: flex;
  flex-direction: row;
}
.review-text {
  background-color: #AFEEEE;
}
</style>
<div class="container-fluid">
  <h2>Профиль {{ subject.username}}</h2>

  <span>Добавленные теги: {% for tag in subject.tag_set.all %} #{{ tag.name }} {% endfor %}</span>
  <div class="column">
  <span>Отзывы {{ subject.username }}:</span>
  {% for review in subject.review_set.all %}
    <h3>Отзыв на <a href="{% url 'place' review.place.pk %}">&laquo;{{ review.place.name }}&raquo;</a></h3>
    <span class="review-text"> {{ review.text}} </span>
    <span> Оценка:
      {% with ''|center:review.rating as range %}
      {% for _ in range %}
      <span class="glyphicon glyphicon-star" style="color: #FFFF00"></span>
      {% endfor %}
      {% endwith %}
    </span>
    {% if user == subject %}
      <div class="buttons">
        <form action="{% url 'change_review' review.pk %}" method="get">
          <input type="hidden" name="next" value="{{ request.path }}">
          <button class="btn btn-info"> Изменить отзыв </button>
        </form> &nbsp;&nbsp;
        <form action="{% url 'delete_review' review.pk %}" method="post"> {% csrf_token %}
          <input type="hidden" name="next" value="{{ request.path }}">
          <button class="btn btn-info"> Удалить отзыв </button>
        </form>
      </div>
    {% endif %}
  {% endfor %}
  </div>
</div>
{%endblock%}
