﻿{% extends "base.html" %}
{% block title %} Добавить теги {% endblock %}
{% block content %}
<style type="text/css">
.tag {
    width: 300px;
    maxlength: 100;
}
#tag_parent_val {
    max-height: 200px;
    overflow: auto;
}
label {
    font-weight: normal;
}
input[type="radio"] {
    margin: 0;
}
.long {
  max-height: 200px;
  overflow: auto;
  width: auto;
}​
</style>
<script type="text/javascript">
  function addTagSon() {
    tag_son = $("#tag_son_val").val();
    tag_parent = $('input[name="tag_parent"]:checked').val();
    if (tag_parent) {
      $("#tag_son_val").val("");
      tag = tag_parent + ":" + tag_son;
      var added_tags = $("#added_tags");
      var old_value = added_tags.val();
      if (old_value === "") {
        added_tags.val(tag);
        var for_remove = $("#for_remove");
        var old_remove = for_remove.html();
        for_remove.html(old_remove + '<div id="remove_' + tag + '"> <input type="radio" name="remove_tag" value="' + tag + '"> ' + tag + ' </div>');
      } else {
        start = old_value.indexOf(tag + ";");
        if (start == -1 && old_value.lastIndexOf(tag) + tag.length == old_value.length) {
          start = old_value.lastIndexOf(tag);
        }
        if (start == -1) { // Можно добавлять тег
          added_tags.val(old_value + "; " + tag);
          var for_remove = $("#for_remove");
          var old_remove = for_remove.html();
          for_remove.html(old_remove + '<div id="remove_' + tag + '"> <input type="radio" name="remove_tag" value="' + tag + '"> ' + tag + ' </div>');
        }
      }
    }
  }
</script>
<script type="text/javascript">
  $(document).ready(function(){
    function addTag(tag) {
      var added_tags = $("#added_tags");
      var old_value = added_tags.val();
      if (old_value === "") {
        added_tags.val(tag);
        var for_remove = $("#for_remove");
        var old_remove = for_remove.html();
        for_remove.html(old_remove + '<div id="remove_' + tag + '"> <input type="radio" name="remove_tag" value="' + tag + '"> ' + tag + ' </div>');
      } else {
        start = old_value.indexOf(tag + ";");
        if (start == -1 && old_value.lastIndexOf(tag) + tag.length == old_value.length) {
          start = old_value.lastIndexOf(tag);
        }
        if (start == -1) { // Можно добавлять тег
          added_tags.val(old_value + "; " + tag);
          var for_remove = $("#for_remove");
          var old_remove = for_remove.html();
          for_remove.html(old_remove + '<div id="remove_' + tag + '"> <input type="radio" name="remove_tag" value="' + tag + '"> ' + tag + ' </div>');
        }
      }
    }

    $("#new_tag").click(function() {
      tag = $("#new_tag_val").val();
      $("#new_tag_val").val("");
      addTag(tag);
    });

    $("#old_tag").click(function() {
      tag = $('input[name="old_tag"]:checked').val();
      addTag(tag);
    });

    $("#del_tag").click(function() {
      tag = $('input[name="remove_tag"]:checked').val();
      colon = tag.indexOf(":");
      if (colon == -1) {
        $("#remove_"+tag).remove();
      } else {
        $("#remove_"+tag.substr(0, colon)+"\\"+tag.substr(colon)).remove();
      }
      all_tags = $('#added_tags').val();
      start = all_tags.indexOf(tag + ";");
      if (start == -1) {
        start = all_tags.lastIndexOf(tag);
      }
      end = start + tag.length + 2;
      if (start == 0) {
        all_tags = all_tags.substr(0, start) + all_tags.substr(end, all_tags.length);
      } else {
        start = start - 2; end = end - 2;
        all_tags = all_tags.substr(0, start) + all_tags.substr(end, all_tags.length);
      }
      $('#added_tags').val(all_tags);
    });
  });
</script>
<div class="container-fluid">
  <div>
    Добавление тегов для <a href="{% url 'place' place.pk %}">&laquo;{{ place.name }}&raquo;</a>:<br>
    Вы можете либо добавить новый тег, либо добавить тег-потомок имеющегося, либо удалить нечаянно добавленный тег: и так много раз!
    <br> Когда Вы выберете все теги, нажмите большую кнопку "Добавить теги". Названия тегов не должны содержать двоеточий и точек с запятой!
  </div>
  Выберите тег из уже имеющихся:
    <div id="tag_parent_val" class="long">
      {% for tag in tags %}
        <div><input type="radio" id="old_rbtn_{{ tag.pk }}" name="old_tag" value="{{ tag }}"><label for="old_rbtn_{{ tag.pk }}">{{ tag }}</label></div>
      {% endfor %}
      <input value="Добавить тег" id="old_tag" type="button" class="btn btn-info btn-sm">
    </div>
  <br>
  <div>
    Добавить новый тег: <br>
    <input type="text" class="tag" id="new_tag_val">
    <input value="Добавить новый тег" id="new_tag" type="button" class="btn btn-info btn-sm">
  </div>
  <br>
  <div>
  <form action="javascript:addTagSon()">
    Выбрать, к какому из имеющихся тегов добавить тег-потомок:
    <div id="tag_parent_val" class="long">
      {% for tag in tags %}
        <div><input type="radio" id="new_rbtn_{{ tag.pk }}" name="tag_parent" value="{{ tag }}"><label for="new_rbtn_{{ tag.pk }}">{{ tag }}</label></div>
      {% endfor %}
    </div>
    <div>
      Добавить тег-потомок: <br>
      <input type="text" class="tag" id="tag_son_val">
      <button id="tag_son" class="btn btn-info btn-sm" type="submit"> Добавить тег-потомок </button>
    </div>
  </form>
  </div>
  <br>
  <div>
    Удалить ошибочно добавленный тег:
    <div id="for_remove">
    </div>
    <input value="Удалить тег" id="del_tag" type="button" class="btn btn-info btn-sm">
  </div>
  <br>
  <div>
    Уже добавленные теги:
    <form id="myform" action="{% url 'add_tags' place.pk %}" method="post"> {% csrf_token %}
      <textarea rows="5" class="tag" name="added_tags" id="added_tags"></textarea> <br>
      <input type="hidden" name="next" value="{{ request.GET.next }}">
      <button class="btn btn-lg btn-info" type="submit"> Добавить теги </button>
    </form>
  </div>
</div>
{% endblock %}
