﻿{% extends "base.html" %}
{% block title %} Добавить отзыв {% endblock %}
{% block content %}
<style type="text/css">
.text {
  overflow: auto;
  width: 500px;
}
.glyphicon-star {
  color: #FFFF00;
  cursor: pointer;
}
</style>
<div class="container-fluid">
<form action="{% url 'add_review' place.pk %}" method="post"> {% csrf_token %}
<fieldset class="form-group">
  <div class="text">
    Ваш отзыв на <a href="{% url 'place' place.pk %}">&laquo;{{ place.name }}&raquo;</a>:
    <textarea class="form-control" rows="10" name="text"></textarea>
  </div>
  <div>
    Ваша оценка заведения:
    {% with ''|center:5 as range %}
    {% for _ in range %}
    <div class="glyphicon glyphicon-star" id="star_{{ forloop.counter }}"></div>
    {% endfor %}
    {% endwith %}
  </div>
  <input type="hidden" name="rating" id="rating_input" value="{{ review.rating }}">
  <input type="hidden" name="next" value="{{ request.GET.next }}">
  <button type="submit" class="btn btn-info"> Отправить отзыв </button>
</fieldset>
</form>
Вы можете в любой момент изменить свой отзыв в своём <a href="{% url 'account' user.username %}">личном кабинете</a>.
</div>
<script type="text/javascript">
  $(document).ready(function(){
    function displayRating(rating) {
      for (index = 1; index <= 5; index++) {
        var star = $("#star_" + index.toString());

        if (index <= rating) {
          star.css('color', '#FF4500');
        } else {
          star.css('color', '#FFFF00');
        }
      }
    }

    $(".glyphicon-star").each(function(index) {
      var this_index = index + 1;
      var this_star = $("#star_" + this_index.toString());

      this_star.mouseenter(function() {
        displayRating(this_index);
      });

      this_star.mouseleave(function() {
        var rating = parseInt($("#rating_input").val());
        displayRating(rating);
      });

      this_star.click(function() {
        $("#rating_input").val(this_index.toString());
      });
    });

    displayRating({{ review.rating }});
  });
</script>
{% endblock %}
