<!DOCTYPE html>
<html lang="ru">
  <head>
    <title> {% block title %} Поиск мест, где можно поразвлечься в Москве {% endblock %} </title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">
    body {
      background-color: #B0E0E6;
    }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" style="color: white" href="{% url 'index' %}">На главную</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          {% if user.is_authenticated %}
          <form class="navbar-form navbar-right" action="{% url 'account' user.username %}">
            <button type="submit" class="btn btn-info"> Личный кабинет </button>
          </form>
          <form class="navbar-form navbar-right" action="{% url 'log_out' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-info"> Выйти </button>
          </form>
          {% else %}
          <form class="navbar-form navbar-right" action="{% url 'log_in' %}">
            <button type="submit" class="btn btn-info"> Войти </button>
          </form>
          <form class="navbar-form navbar-right" action="{% url 'register' %}">
             <button type="submit" class="btn btn-info"> Зарегистрироваться </button>
          </form>
          {% endif %}
       </div>
      </div>
    </nav>
    {%block content%} {%endblock%}
  </body>
</html>
