{% extends "base.html" %}
{% block title %} Поиск мест, где можно поразвлечься в Москве {% endblock %}
{% block content %}
<style type="text/css">
.boxes {
  max-height: 200px;
  overflow: auto;
}​
</style>
<script type="text/javascript">
$(document).ready(function() {
    navigator.geolocation.getCurrentPosition(showPosition);
    function showPosition(position) {
        x = position.coords.longitude;
        y = position.coords.latitude;
        $("#myform").append("<input type='hidden' name='x' value='" + x + "'>");
        $("#myform").append("<input type='hidden' name='y' value='" + y + "'>");
    }
});
</script>
<div class="container-fluid">
<form id="myform" action="{%url 'main' %}" method="post"> {% csrf_token %}
<fieldset class="form-group">
  <div>
    Можете выбрать станции метро, вблизи которых мы будем искать интересные Вам заведения:
  </div>
  <div class="boxes">
    {% for station in stations %}
      <div><input type="checkbox" name="stations[]" value="{{ station }}" id="station_{{ station.pk }}"><label style="font-weight: normal" for="station_{{ station.pk }}">{{ station }}</label></div>
    {% endfor %}
  </div>
  <div>
    Или можете выбрать, в каком районе нам искать:
  </div>
  <div class="boxes">
    {% for district in districts %}
      <div><input type="radio" name="district" value="{{ district }}" id="district_{{ district.pk }}"><label style="font-weight: normal" for="district_{{ district.pk }}">{{ district }}</label></div>
    {% endfor %}
  </div>
  <div>
    Можете не выбирать ни то, ни другое, тогда мы определим Ваше местоположение и будем искать ближайшие к Вам заведения.
  </div>
  <div>
  Можете также выбрать теги, которые Вам интересны:
  </div>
  <div class="boxes">
    {% for tag in tags %}
      <div><input type="checkbox" name="tags[]" value="{{ tag }}" id="tag_{{ tag.pk }}"><label style="font-weight: normal" for="tag_{{ tag.pk }}">{{ tag }}</label></div>
    {% endfor %}
  </div>
  <br>
  <button type="submit" class="btn btn-info"> Искать </button>
</fieldset>
</form>
</div>
{%endblock%}
