{% extends "base.html" %}
{% block title %} Вход {% endblock %}
{% block content %}
<style type="text/css">
.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
}
.form-signin-heading {
  text-align: center;
}
</style>
<div class="container-fluid">
    <form class="form-signin" method="post"> {% csrf_token %}
      <div class="form-signin-heading"> {{ error }} </div>
      <h2 class="form-signin-heading"> Войти </h2>
      <input type="text" class="form-control" name="username" placeholder="your name" required="" autofocus="" />
      <input type="password" class="form-control" name="password" placeholder="password" required=""/>
      <button class="btn btn-primary btn-block" type="submit"> Войти </button>
    </form>
</div>
{%endblock%}