{% extends "base.html" %}
{% block title %} Результат поиска {% endblock %}
{% block content %}
<style type="text/css">
.in_row {
    display: flex;
    flex-direction: row;
}
</style>
<div class="container-fluid">
{% if map %}
<img src={{ ystaticmap }}>
<br><br>
<table cellspacing="2" border="1" cellpadding="5">
	<tr>
		<td>
			<b>Индекс на карте</b>
		</td>
		<td>
			<b>Название</b>
		</td>
        <td>
            <b>Рейтинг</b>
        </td>
		<td>
			<b>Часы работы</b>
		</td>
		<td>
			<b>Вебсайт</b>
		</td>
		<td>
			<b>Телефон</b>
		</td>
		{% if user.is_authenticated %}
		    <td></td>
		{% endif %}
	</tr>
	<tr>
	{% for place in places %}
	<tr>
		<td>
			{{ forloop.counter }}
		</td>
		<td>
			<a href="{% url 'place' place.pk %}">{{ place.name }}</a>
		</td>
        <td>
            {% with ''|center:place.average_rating as range %}
            {% for _ in range %}
                <span class="glyphicon glyphicon-star" style="color: #FFFF00"></span>
            {% endfor %}
            {% endwith %}
        </td>
		<td>
			{{ place.working_hours }}
		</td>
		<td>
			{{ place.website }}
		</td>
		<td>
			{{ place.phone }}
		</td>
		{% if user.is_authenticated%}
		<td>
		    <div class="in_row">
		        <div>
                <form action="{% url 'add_review' place.pk %}" method="get">
                    <button type="submit" class="btn btn-link"> Добавить отзыв </button>
                </form>
                </div>
                <div>
                <form action="{% url 'add_tags' place.pk %}" method="get">
                    <button type="submit" class="btn btn-link"> Добавить теги </button>
                </form>
                </div>
            </div>
        </td>
        {% endif %}
	</tr>
{% endfor %}
</table>
{% endif %}
{% if not map %}
Извините, заведений по вашему запросу не найдено! Можете вернуться на <a href="{% url 'index' %}">главную страницу</a> и уточнить запрос.
{% endif %}
</div>
{% endblock %}
