{% extends "base.html" %}
{% block title %}{{ place.name }}{% endblock %}
{% block content %}
<style type="text/css">
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width:500px;
}
.buttons {
  display: flex;
  flex-direction: row;
}
.review-text {
  background-color: #AFEEEE;
}
</style>
<div class="container-fluid">
  <h2>&laquo;{{ place.name }}&raquo;</h2>

  <div class="column">
    <h3>Информация:</h3>
    <ul>
      <li>Район: {{ place.district.name }}</li>
      <li>Метро: {{ stations|join:", " }}</li>
      <li>Часы работы: {{ place.working_hours }}</li>
      <li>Вебсайт: {{ place.website }}</li>
      <li>Телефон: {{ place.phone }}</li>
      <li>Теги: {% for tag in place.tags.all %} #{{ tag.name }} {% endfor %}</li>
      <li>Средний рейтинг: {% if place.num_reviews %}{{ place.average_rating }}{% else %}N/A{% endif %} ({{ place.num_reviews }} отзывов)
    </ul>

    {% if user.is_authenticated %}
      <div class="buttons">
        <form action="{% url 'add_review' place.pk %}" method="get">
          <input type="hidden" name="next" value="{{ request.path }}">
          <button type="submit" class="btn btn-info">Добавить отзыв</button>
        </form> &nbsp;&nbsp;
        <form action="{% url 'add_tags' place.pk %}" method="get">
          <input type="hidden" name="next" value="{{ request.path }}">
          <button type="submit" class="btn btn-info">Добавить теги</button>
        </form>
      </div>
    {% endif %}

    <h3>Отзывы:</h3>
    {% for review in place.review_set.all %}
      <span>Отзыв от <a href="{% url 'account' review.author.username %}">{{ review.author.username }}</a></span>
      <span class="review-text"> {{ review.text}} </span>
      <span> Оценка:
        {% with ''|center:review.rating as range %}
        {% for _ in range %}
        <span class="glyphicon glyphicon-star" style="color: #FFFF00"></span>
        {% endfor %}
        {% endwith %}
      </span>
      {% if user == review.author %}
        <div class="buttons">
          <form action="{% url 'change_review' review.pk %}" method="get">
            <input type="hidden" name="next" value="{{ request.path }}">
            <button class="btn btn-info"> Изменить отзыв </button>
          </form> &nbsp;&nbsp;
          <form action="{% url 'delete_review' review.pk %}" method="post"> {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <button class="btn btn-info"> Удалить отзыв </button>
          </form>
        </div>
      {% endif %}
    {% endfor %}
    </div>
</div>
{% endblock %}
